.link {
    color: white;
    text-decoration: none;

}

nav {
    background-color: #4A4A4A;
    padding: 3px;

}

.list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}